{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Qing Technology{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'admin/css/qing_admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}" class="qing-brand">
    <i class="fa-solid fa-ticket-simple"></i>
    <span>Qing <strong>Technology</strong></span>
  </a>
</div>
{% endblock %}

{% block nav-global %}
<a class="client-dashboard-link" href="/"><i class="fa-solid fa-arrow-left"></i> Client dashboard</a>
{% endblock %}
